extends ./layout.pug
block contenido
  .container
      .section
        .header  
          h2.mb-4.text-primary Bienvenido a Jorge Bustamante
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        .card.shadow.p-5.mt-5.bg-white.rounded
          table.table.table-stipped
                                    thead
                                        tr
                                            th #
                                            th Servicio
                                            th Fecha
                                            th Factura
                                            th Opciones
                                    tbody
                                        tr
                                            td 1
                                            td Apertura Residencial
                                            td 12 de abril del 2020, 12:17pm
                                            td.text-center 
                                                input(type="checkbox" checked, disabled)
                                            td.letra-chica  
                                                a(href="#") Ver Registro
                                                | -
                                                a(href="#") Eliminar                                
                                        tr
                                            td 2
                                            td Apertura Automotriz
                                            td 12 de abril del 2020, 12:17pm
                                            td.text-center 
                                                input(type="checkbox" checked, disabled)
                                            td.letra-chica   
                                                a(href="#") Ver Registro
                                                | -
                                                a(href="#") Eliminar                                
                                        tr
                                            td 3
                                            td Reparaci&oacute;n de Cerradura
                                            td 12 de abril del 2020, 12:17pm
                                            td.text-center 
                                                input(type="checkbox" checked, disabled)
                                            td.letra-chica   
                                                a(href="#") Ver Registro
                                                | -
                                                a(href="#") Eliminar                                
                                        tr
                                            td 4
                                            td Cambio de columna
                                            td 12 de abril del 2020, 12:17pm
                                            td.text-center 
                                                input(type="checkbox" checked, disabled)
                                            td.letra-chica
                                                a(href="#") Eliminar 
                                                | -
                                                a(href="#") Ver Registro