<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cerrajeria Bustamante
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        link(rel="stylesheet", href="/css/style.css")

    body
        //h1 Hola Mundo esta es mi pagina principal
        //p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quia laborum et maiores corporis velit debitis a iure. Ex illo voluptatem obcaecati quae odio magnam maxime quisquam consequuntur sed id.

        div#wapper.d-flex
            //START SIDEBAR
            #sidebar-wrapper.bg-warning.border-right
                div.sidebar-heading.text-white Cerrajer&iacute;a Bustamante
                div.list-group.list-group-flush
                    a.list-group-item.list-group-item-action.bg-warning.text-white(href="#") Inicio
                    a.list-group-item.list-group-item-action.bg-warning.text-white(href="#") Automotrices 
                    a.list-group-item.list-group-item-action.bg-warning.text-white(href="#") Residenciales
                    a.list-group-item.list-group-item-action.bg-warning.text-white(href="#") Servicios
                    a.list-group-item.list-group-item-action.bg-warning.text-white(href="#") Resultados

            //END SIDEBAR
            //START PAGE-CONTENT
            #page-content-wrapper.bg-light
                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                    //button#menu-toggle.btn.btn-primary Toggle Menu
                    //button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                   
                .container-fluid
                    h1.mt-4 Cerrajeria Bustamante
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit vero aut cumque odio sapiente sint perspiciatis, iusto sunt quis tempora reprehenderit! Consectetur quisquam est, tempore totam eum iusto animi cupiditate.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem laboriosam ullam molestiae fugit provident magnam maxime, sit cumque illum fugiat quasi, velit quia mollitia ea aperiam a asperiores quos.
                    
                    section
                        h2 Inventario
                        .container
                            .row
                                .col-lg-12
                                    .card.shadow.p-3.mb-5.bg-white.rounded
                                        .card-body#table-section
                                            table.table.table-striped
                                                thead
                                                    tr
                                                    th(scope='col') #
                                                    th(scope='col') First
                                                    th(scope='col') Last
                                                    th(scope='col') Handle
                                                tbody
                                                    tr
                                                    th(scope='row') 1
                                                    td Mark
                                                    td Otto
                                                    td @mdo
                                                    tr
                                                    th(scope='row') 2
                                                    td Jacob
                                                    td Thornton
                                                    td @fat
                                                    tr
                                                    th(scope='row') 3
                                                    td Larry
                                                    td the Bird
                                                    td @twitter
                                                     tr
                                                    th(scope='row') 4
                                                    td Mark
                                                    td Otto
                                                    td @mdo
                                                    tr
                                                    th(scope='row') 5
                                                    td Jacob
                                                    td Thornton
                                                    td @fat
                                                    tr
                                                    th(scope='row') 6
                                                    td Larry
                                                    td the Bird
                                                    td @twitter


            //END PAGE-CONTENT

        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")