extends ./layout.pug
block contenido
    .row.px-5
        .col-sm-12
            .section
                .header  
                h1.header Dashboard
                h3.mb-4.text-primary Bienvenido Jorge Bustamante !
                p.lead
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
        .col-sm-12
            .section.text-white
                .row
                    .col-sm-4
                        .card.shadow.p-3.mt-5.bg-primary.rounded
                            .card-header Header
                            .card-body
                                h5.card-title.text-white Title
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa dolores ea, doloribus consequuntur ratione ipsam similique ut eos praesentium, eius iure reprehenderit exercitationem quaerat quos. Fugiat id fugit nobis.
                    .col-sm-4
                        .card.shadow.p-3.mt-5.bg-warning.rounded
                            .card-header.text-white Header
                            .card-body
                                h5.card-title Title
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa dolores ea, doloribus consequuntur ratione ipsam similique ut eos praesentium, eius iure reprehenderit exercitationem quaerat quos. Fugiat id fugit nobis.
                    .col-sm-4
                        .card.shadow.p-3.mt-5.bg-success.rounded
                            .card-header.text-white Header
                            .card-body
                                h5.card-title Title
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt quia natus delectus, nisi neque labore ipsa sapiente voluptate harum ullam doloremque facilis perferendis modi eum dolorem debitis dolor deleniti ad. 
