extends ./layout.pug
block contenido
    .container-fluid
        h1.mt-4 Cerrajeria Bustamante
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit vero aut cumque odio sapiente sint perspiciatis, iusto sunt quis tempora reprehenderit! Consectetur quisquam est, tempore totam eum iusto animi cupiditate.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem laboriosam ullam molestiae fugit provident magnam maxime, sit cumque illum fugiat quasi, velit quia mollitia ea aperiam a asperiores quos.
                    
        section
            h2 Inventario
            .container
                .row
                    .col-lg-12
                        .card.shadow.p-3.mb-5.bg-white.rounded
                            .card-body#table-section
                                table.table.table-striped
                                    thead
                                        tr
                                            th(scope='col') #
                                            th(scope='col') First
                                            th(scope='col') Last
                                            th(scope='col') Handle
                                    tbody
                                        tr
                                            th(scope='row') 1
                                            td Mark
                                            td Otto
                                            td @mdo
                                        tr
                                            th(scope='row') 2
                                            td Jacob
                                            td Thornton
                                            td @fat
                                        tr
                                            th(scope='row') 3
                                            td Larry
                                            td the Bird
                                            td @twitter
                                        tr
                                            th(scope='row') 4
                                            td Mark
                                            td Otto
                                            td @mdo
                                        tr
                                            th(scope='row') 5
                                            td Jacob
                                            td Thornton
                                            td @fat
                                        tr
                                            th(scope='row') 6
                                            td Larry
                                            td the Bird
                                            td @twitter
