extends ./layout.pug
block contenido
    .row.px-5
        .col-sm-12
            .section
                .header  
                h1.header Dashboard
                h3.mb-4.text-primary Bienvenido Administrador!
        .col-sm-12
            section
                p.lead.mute Este es el sistema de inventario de Cerrajer&iacute;a Bustamante, en el cual podr&aacute; 
                    | consultar, modificar o eliminar diferentes registros que tenga en existencia
                .row
                    .col-sm-4.p-0
                        img(src="/img/llaves.jpg", alt="Simbolo de Cerrajeria")
                    .col-sm-4.p-0
                        img(src="/img/cerradura.jpg", alt="Simbolo de Cerrajeria")
                    .col-sm-4.p-0
                        img(src="/img/candado.jpg", alt="Simbolo de Cerrajeria")

        //.col-sm-12
            .section.text-white
                .row
                    .col-sm-4
                        .card.shadow.p-3.mt-5.bg-primary.rounded
                            .card-header Header
                            .card-body
                                h5.card-title.text-white Title
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa dolores ea, doloribus consequuntur ratione ipsam similique ut eos praesentium, eius iure reprehenderit exercitationem quaerat quos. Fugiat id fugit nobis.
                    .col-sm-4
                        .card.shadow.p-3.mt-5.bg-warning.rounded
                            .card-header.text-white Header
                            .card-body
                                h5.card-title Title
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa dolores ea, doloribus consequuntur ratione ipsam similique ut eos praesentium, eius iure reprehenderit exercitationem quaerat quos. Fugiat id fugit nobis.
                    .col-sm-4
                        .card.shadow.p-3.mt-5.bg-success.rounded
                            .card-header.text-white Header
                            .card-body
                                h5.card-title Title
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt quia natus delectus, nisi neque labore ipsa sapiente voluptate harum ullam doloremque facilis perferendis modi eum dolorem debitis dolor deleniti ad. 
