doctype html
head
  title Inventario - CB v1.0.0
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css")
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='css/main.css')
  link(rel="stylesheet", href="js/template/css/style.css")
  link(rel="stylesheet", href="js/template/css/bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css")

body  
  .wrapper.d-flex.align-items-stretch
    nav#sidebar.active.bg-warning
      //ul.list-unstyled#link-home
        li  
          h1.ml-3
            a.logo(href='/')
              span.fa.fa-home
                h6 Inicio
      ul.list-unstyled.components.mb-5#sidebar-menu
        li
          h5
            a.logo(href="/")
              span.fa.fa-home
              | Inicio
        li
          a(href='/automotrices')
            span.fa.fa-car
            |  Automotriz
        li
          a(href='/carcasas')
            span.fa.fa-square
            |  Carcasas
        li
          a(href='/controles')
            span.fa.fa-sort-up
            |  Controles
        li
          a(href='/residenciales')
            span.fa.fa-key
            |  Residencial
        li
          a(href='/servicios')
            span.fa.fa-wrench
            |  Servicios
      .footer
        p
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          
          i.icon-heart(aria-hidden='true')
          |  by 
    // Page Content
    #content
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
          button#sidebarCollapse.btn.btn-primary(type='button')
            i.fa.fa-bars
            span.sr-only Toggle Menu
          button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            i.fa.fa-bars
          #navbarSupportedContent.collapse.navbar-collapse
            ul.nav.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='#') Salir
      
      block contenido
        //Area donde se dibujara el contenido
        
  //- Importamos los scripts y los iteramos
  block scripts
    include scripts
      if js_src
        each val in js_src
          script(src=val.js)