doctype html
head
  title Sidebar 07
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,90' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  //link(rel='stylesheet' href='css/style.css')
  link(rel="stylesheet", href="template/css/style.css")
  link(rel="stylesheet", href="template/css/bootstrap.min.css")
body  
  .wrapper.d-flex.align-items-stretch
    nav#sidebar.active.bg-warning
      h1
        a.logo(href='index.html') C.
      ul.list-unstyled.components.mb-5
        li.active
          a(href='#')
            span.fa.fa-home
            |  Home
        li
          a(href='#')
            span.fa.fa-user
            |  About
        li
          a(href='#')
            span.fa.fa-sticky-note
            |  Blog
        li
          a(href='#')
            span.fa.fa-cogs
            |  Services
        li
          a(href='#')
            span.fa.fa-paper-plane
            |  Contacts
      .footer
        p
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made with 
          i.icon-heart(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com' target='_blank') Colorlib.com
    // Page Content
    #content.p-4.p-md-5
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
          button#sidebarCollapse.btn.btn-primary(type='button')
            i.fa.fa-bars
            span.sr-only Toggle Menu
          button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            i.fa.fa-bars
          #navbarSupportedContent.collapse.navbar-collapse
            ul.nav.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='#') Salir
      
      block contenido
        //Area donde se dibujara el contenido

  script(src='template/js/jquery.min.js')
  script(src='template/js/popper.js')
  script(src='template/js/bootstrap.min.js')
  script(src='template/js/main.js')