script(src="/js/constantes.js")

//TEMPLATE JQUERY, BOOTSTRAP, MAIN
script(src='/js/template/js/jquery.min.js')
script(src='/js/template/js/popper.js')
script(src='/js/template/js/bootstrap.min.js')
script(src='/js/template/js/main.js')

//DATATABLES
script(src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")
script(src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js")


//AXIOS REQUEST
script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")

//MINES
script(src="/js/helpers/llamadas.js")
script(src="/js/funciones.js")
