html{
  overflow-x: hidden;
}


/* START SIDEBAR */
#sidebar-menu li:hover{
  background: #e7d428; 
}

/* START COMPLEMENTOS */

.bg-white{
  background: #fff;
}

.letra-chica{
  font-size: 13px;
}

/* MODALES */


/* HELPERS */
.hidden{
  display: none;
}

.vw-20{
  width: 20%;
}