html{
  overflow-x: hidden;
}


/* START SIDEBAR */
#sidebar-menu li:hover{
  background: #e7d428; 
}

/* START COMPLEMENTOS */

.bg-white{
  background: #fff;
}

.letra-chica{
  font-size: 13px;
}

/* MODALES */

.center-modal-v100{
  margin-top: 100px;
}

/* HELPERS */
.minh-100{
  height: 100vh;
}