body {
  overflow-x: hidden;
}

/*START SIDEBAR */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
/* END SIDEBAR */

/* TABLES */
#table-section{
  overflow-y: auto;
}

/* Listar Ordenadas */
.letra-chica{
  font-size: 12px;
}

/* END LISTAS ORDENADAS */

/* CARDS */

.sombra{
  box-shadow: 0 3px 6px rgb(0,0,0, 0.16),  0 3px 6px rgb(0,0,0, 0.23);
}

/* END CARDS */

/* BOTON TOGGLE MENU */
#btn-menu-toggle{
  right: 0px;
  bottom: 0px;
  position: fixed;
  margin-right: 1em;
  margin-bottom: 1em;
}
/* END BOTON TOGGLE MENU */