extends ../layout.pug

block contenido
    section
        .section-header
            ol.breadcrumb.bg-light.letra-chica.ml-3
                li.breadcrumb-item
                    a(href="/") Inicio
                li.breadcrumb-item Automotrices
                li.breadcrumb-item.active Listado    
        .section-body
            .row
                .col-lg-10.offset-lg-1
                    h3 Listado de Automoviles
                .col-lg-10.offset-lg-1
                    articule.margin-bottom-xl.text-primary
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veniam aut aliquam amet ullam sed, doloremque reiciendis illo nihil illum dolor maxime ad similique at est magni minus repellat enim.
    section
        .row
            .col-sm-9.offset-lg-1
                form(action="")
                    .row    
                        .col-lg-5                    
                            .form-group
                                label(for="search") Buscar
                                input.form-control(name="search" type="text" placeholder="Buscar...") 
                        
                        .col-lg-2.offset-lg-5                   
                            .form-group
                                button.form-control.btn-primary(style="vertical-align: top;") Crear

        .row    
            .col-sm-9.offset-lg-1
                .row.mb-5
                    .col-sm-12
                        .card.shadow.p-3.mb-5.bg-white.rounded
                            .card-body    
                                table.table.table-stipped
                                    thead
                                        tr
                                            th #
                                            th Clave
                                            th Existencia
                                            th Precio
                                            th Vendidas
                                            th Actualizacion
                                            th.text-right Acciones
                                    tbody
                                        tr
                                            td 1
                                            td R55
                                            td 50
                                            td $20
                                            td 10
                                            td 12 de abril del 2020
                                            td.letra-chica.text-right  
                                                a(href="#") Actualizar
                                        tr
                                            td 2
                                            td R55
                                            td 50
                                            td $20
                                            td 10
                                            td 12 de abril del 2020
                                            td.letra-chica.text-right  
                                                a(href="#") Actualizar
                                        tr
                                            td 3
                                            td R55
                                            td 50
                                            td $20
                                            td 10
                                            td 12 de abril del 2020
                                            td.letra-chica.text-right  
                                                a(href="#") Actualizar
                                        tr
                                            td 4
                                            td R55
                                            td 50
                                            td $20
                                            td 10
                                            td 12 de abril del 2020
                                            td.letra-chica.text-right  
                                                a(href="#") Actualizar

                                            