extends ../layout.pug

block contenido
    h1 Listado Servicios

    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quaerat ipsam dolor ea, voluptatem cum, minima ab debitis est itaque id commodi obcaecati iste magnam aut. Molestiae explicabo ipsa nulla!

    br

    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita fuga veritatis recusandae reiciendis natus voluptatum quae unde dolore ullam adipisci corrupti explicabo, laudantium quia aliquid exercitationem minima voluptas ut blanditiis.