extends ../layout.pug

block contenido

        section
            ol.breadcrumb.bg-white.letra-chica
                li.breadcrumb-item
                    a(href="/") Inicio
                li.breadcrumb-item Servicios
                li.breadcrumb-item.active Listado    
        section             
            .row    
                .col-sm-12.px-5
                            .card.shadow.p-3.mb-5.rounded
                                .card-body      
                                    section 
                                        .row
                                            .col-lg-12
                                                h3.text-primary Registro de Servicios
                                            .col-lg-12
                                                articule.margin-bottom-xl
                                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veniam aut aliquam amet ullam sed, doloremque reiciendis illo nihil illum dolor maxime ad similique at est magni minus repellat enim.
                                    section
                                        table.table.table-striped.table-hover#table-servicios
                                            thead
                                                tr
                                                    th #
                                                    th Servicio
                                                    th Fecha
                                                    th Factura
                                                    th.text-right Opciones
                                            tbody
                                                tr
                                                    td 1
                                                    td Apertura Residencial
                                                    td 12 de abril del 2020, 12:17pm
                                                    td.text-center 
                                                        input(type="checkbox" checked, disabled)
                                                    td.p-1.float-right
                                                        button.btn.btn-outline-primary.ml-1.ver(type="button")
                                                            i.fa.fa-eye
                                                        button.btn.btn-outline-success.ml-1(type="button")
                                                            i.fa.fa-edit
                                                        button.btn.btn-outline-danger.ml-1(type="button")
                                                            i.fa.fa-trash
                                                        
                                                tr
                                                    td 2
                                                    td Apertura Automotriz
                                                    td 12 de abril del 2020, 12:17pm
                                                    td.text-center 
                                                        input(type="checkbox" checked, disabled)
                                                    td.float-right.p-1
                                                        button.btn.btn-outline-primary.ml-1.ver(type="button")
                                                            i.fa.fa-eye
                                                        button.btn.btn-outline-success.ml-1(type="button")
                                                            i.fa.fa-edit
                                                        button.btn.btn-outline-danger.ml-1(type="button")
                                                            i.fa.fa-trash                         
                                                tr
                                                    td 3
                                                    td Reparaci&oacute;n de Cerradura
                                                    td 12 de abril del 2020, 12:17pm
                                                    td.text-center 
                                                        input(type="checkbox" checked, disabled)
                                                    td.float-right.p-1
                                                        button.btn.btn-outline-primary.ml-1.ver(type="button")
                                                            i.fa.fa-eye
                                                        button.btn.btn-outline-success.ml-1(type="button")
                                                            i.fa.fa-edit
                                                        button.btn.btn-outline-danger.ml-1(type="button")
                                                            i.fa.fa-trash                            
                                                tr
                                                    td 4
                                                    td Cambio de columna
                                                    td 12 de abril del 2020, 12:17pm
                                                    td.text-center 
                                                        input(type="checkbox" checked, disabled)
                                                    td.text-right.p-1
                                                        button.btn.btn-outline-primary.ml-1.ver(type="button")
                                                            i.fa.fa-eye
                                                        button.btn.btn-outline-success.ml-1(type="button")
                                                            i.fa.fa-edit
                                                        button.btn.btn-outline-danger.ml-1(type="button")
                                                            i.fa.fa-trash
                                                tr
                                                    td 5
                                                    td Cambio de columna
                                                    td 12 de abril del 2020, 12:17pm
                                                    td.text-center 
                                                        input(type="checkbox" checked, disabled)
                                                    td.float-right.p-1
                                                        button.btn.btn-outline-primary.ml-1.ver(type="button")
                                                            i.fa.fa-eye
                                                        button.btn.btn-outline-success.ml-1(type="button" data-toggle="modal" data-target="#modalNewIngreso")
                                                            i.fa.fa-edit
                                                        button.btn.btn-outline-danger.ml-1(type="button")
                                                            i.fa.fa-trash
    
        // Modal
        #modalServicios.modal.fade.in(tab-index="-1" role="dialog" aria-labelledby='modalServiciosLabel' aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title Modal title
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden) &times;
                    .modal-body
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="button") Save Changes

    

