extends ../layout.pug

block contenido
    section
            ol.breadcrumb.bg-white.letra-chica
                li.breadcrumb-item
                    a(href="/") Inicio
                li.breadcrumb-item Automotrices
                li.breadcrumb-item.active Listado    
            
    section             
        .row    
            .col-sm-12.px-5
                .row
                    .col-sm-12
                        .card.shadow.p-3.mb-5.bg-white.rounded
                            .card-body    
                                section
                                    .row
                                        .col-sm-12
                                            h3.text-primary Listado de Automoviles
                                        .col-lg-12
                                            articule.margin-bottom-xl
                                                p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veniam aut aliquam amet ullam sed, doloremque reiciendis illo nihil illum dolor maxime ad similique at est magni minus repellat enim.
                                section    
                                    table.table.table-stipped.table-hover#table-automotrices
                                        thead
                                            tr
                                                th #
                                                th Clave
                                                th Existencia
                                                th Precio
                                                th Vendidas
                                                th Actualizacion
                                                th.text-right Acciones
                                        tbody
                                            tr
                                                td 1
                                                td R55
                                                td 50
                                                td $20
                                                td 10
                                                td 12 de abril del 2020
                                                td.float-right.p-1
                                                    button.btn.btn-outline-primary.ml-1.ver(type="button")
                                                        i.fa.fa-eye
                                                    button.btn.btn-outline-success.ml-1(type="button")
                                                        i.fa.fa-edit
                                                    button.btn.btn-outline-danger.ml-1(type="button")
                                                        i.fa.fa-trash
                                            tr
                                                td 2
                                                td R55
                                                td 50
                                                td $20
                                                td 10
                                                td 12 de abril del 2020
                                                td.float-right.p-1
                                                    button.btn.btn-outline-primary.ml-1.ver(type="button")
                                                        i.fa.fa-eye
                                                    button.btn.btn-outline-success.ml-1(type="button")
                                                        i.fa.fa-edit
                                                    button.btn.btn-outline-danger.ml-1(type="button")
                                                        i.fa.fa-trash
                                            tr
                                                td 3
                                                td R55
                                                td 50
                                                td $20
                                                td 10
                                                td 12 de abril del 2020
                                                td.float-right.p-1
                                                    button.btn.btn-outline-primary.ml-1.ver(type="button")
                                                        i.fa.fa-eye
                                                    button.btn.btn-outline-success.ml-1(type="button")
                                                        i.fa.fa-edit
                                                    button.btn.btn-outline-danger.ml-1(type="button")
                                                        i.fa.fa-trash
                                            tr
                                                td 4
                                                td R55
                                                td 50
                                                td $20
                                                td 10
                                                td 12 de abril del 2020
                                                td.float-right.p-1
                                                    button.btn.btn-outline-primary.ml-1.ver(type="button")
                                                        i.fa.fa-eye
                                                    button.btn.btn-outline-success.ml-1(type="button")
                                                        i.fa.fa-edit
                                                    button.btn.btn-outline-danger.ml-1(type="button")
                                                        i.fa.fa-trash
    // Modal
    #modalAutomotris.modal.fade.in(tab-index="-1" role="dialog" aria-labelledby='modalAutomotricesLabel' aria-hidden="true" data-backdrop="static")
        .modal-dialog.modal-dialog-centered.modal-lg(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Modal title
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden) &times;
                .modal-body
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                    button.btn.btn-primary(type="button") Save Changes
                                                